/*
    To support CSS against the exhibit.html imported with innerHTML, the component sets encapsulation to ViewEncapsulation.None
    So be sure not to redefine any classes that may be used elsewhere on the site!
    Most exhibit styles are now defined in styles.css, since the exhibits are both featured and archived, in Writings
*/

.exhibitHtmlContainer {
    margin: 0px 15% 3% 15%;
}

@media only screen and (max-width: 900px) {
    .exhibitHtmlContainer {
        margin: 0px 10% 2% 10%;
    }
}

@media only screen and (max-width: 500px) {
    .exhibitHtmlContainer {
        margin: 0px 5% 1% 5%;
    }
}
