<div class="writingsContainer">
    <div *ngIf="!errorFetchingWritingSummaries">
        <div style="width: 100%; height: 800px;">
            <as-split direction="{{getTocOrientation()}}">
                <as-split-area [size]="30">
                    <div id="toc" class="tocContainer">
                        <tree-ngx #toc
                                   [nodeItems]="nodeItems"
                                   [options]="treeOptions"
                                   (selectedItems)="handleSelectedTreeItems($event)"></tree-ngx>
                    </div>
                </as-split-area>
                <as-split-area [size]="70">
                    <div class="writingContainer"
                         [@writingLoading]="getLoadingName()">
                         <div><markdown #content
                                       ngPreserveWhitespaces
                                       [src]="getSelectedWritingUrl()"
                                       (ready)="handleSelectedWritingReady()"></markdown></div>
                    </div>
                </as-split-area>
            </as-split>
        </div>
    </div>
    <div *ngIf="errorFetchingWritingSummaries">
        <div class="errorMessage">Sorry! There was an error attempting to load current writings. :(</div>
        <div class="errorMessage">We're looking into it, so please try again later.</div>
    </div>
</div>
<footer>
    <copyright [aboutLinkActive]="true"></copyright>
</footer>
