.currentWorkOfLabel {
  color: dimgray;
  float: right;
  font-size: small;
  margin: 0px;
  padding: 0px;
}

.exhibit {}

.exhibitContainer {
  display: block;
  margin-top: 75px;
  min-height: 200px;
}

.exhibitDescriptionContainer {
  display: block;
  height: 405px;
  padding-right: 5px;
  text-align: left;
  overflow: hidden scroll;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.exhibitTabs {
  float: left;
  font-size: small;
}

.exhibitTitle {
  font-size: x-large;
}

.firstExhibit {
  margin-top: 0px !important;
}

.noScrollContainer {
  overflow: hidden hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling: auto;
}

.tabActive {
  color: #247D3C;
}

.tabActive:hover {
  color: #34B255;
}

.tabInactive {
  color: whitesmoke;
}

.tabSpacer {
  color: whitesmoke;
  font-size: small;
}

.tabPointer {
  cursor: pointer;
}

/* For exhibitDescriptionContainer size properties, see also ngx-gallery configuration in exhibit.component.ts, with slight height adjustment of 5px for Chrome bug (?) */

@media only screen and (max-width: 800px) {
  .exhibitDescriptionContainer {
    font-size: smaller;
    height: 255px;
  }

  .exhibitTitle {
    font-size: large;
  }
}

@media only screen and (max-width: 400px) {
  .exhibitContainer {
    margin-top:50px;
  }

  .exhibitDescriptionContainer {
    font-size: small;
    height: 125px;
  }

  .exhibitTitle {
    font-size: small;
  }

  .tabActive {
    font-size: smaller;
  }

  .tabInactive {
    font-size: smaller;
  }

  .tabSpacer {
    font-size: smaller;
  }
}
