.errorMessage {
    color: orangered;
    text-align: center;
    font-size: larger;
    padding-bottom: 2em;
}

.exhibitsContainer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

@media only screen and (max-width: 800px) {
  .exhibitsContainer {
    width: 400px;
  }
}

@media only screen and (max-width: 400px) {
  .exhibitsContainer {
    width: 200px;
  }
}
