.errorMessage {
    color: orangered;
    text-align: center;
    font-size: larger;
    padding-bottom: 2em;
}

.exhibitsContainer {
    text-align: center;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    width: 80%
}

.exhibitsLoadingContainer {
    color: gray;
    font-size: x-large;
}

@media only screen and (max-width: 800px) {
    .exhibitsContainer {
        width: 80%;
    }
}
