<div class="exhibitsContainer">
    <!-- When hosted, exhibit resources and thumbnails load more slowly (too slow?) so provide a simple hint of progress -->
    <div *ngIf="!exhibitsLoaded && !errorFetchingExhibitSummaries">
        <div class="exhibitsLoadingContainer">Loading exhibits...</div>
    </div>
    <div *ngIf="exhibitsLoaded && !errorFetchingExhibitSummaries">
        <exhibit *ngFor="let exhibitSummary of this.getExhibitSummaries(); let i = index"
                 [exhibitIndex]="i"
                 [exhibitSummary]="exhibitSummary"></exhibit>
    </div>
    <div *ngIf="errorFetchingExhibitSummaries">
        <div class="errorMessage">Sorry! There was an error attempting to load current exhibits. :(</div>
        <div class="errorMessage">We're looking into it, so please try again later.</div>
    </div>
</div>
<footer>
    <copyright [aboutLinkActive]="true"></copyright>
</footer>
