<a name="{{getExhibitAnchor()}}"></a>
<div [ngClass]="{'exhibitContainer': true, 'firstExhibit': exhibitIndex === 0}">
  <h2 class="exhibitTitle">{{getExhibitName()}}</h2>
  <!-- Work : Text tabs -->
  <div>
    <div class="exhibitTabs">
        <div *ngIf="showWorkText()">
            <label (click)="visibleTab = 'work'"
                   [ngClass]="{'tabPointer': true, 'tabActive': visibleTab !== 'work', 'tabInactive': visibleTab === 'work'}">Work</label>
            &nbsp;<label class="tabSpacer">:</label>&nbsp;
            <label *ngIf="getExhibitTextRoute()" (click)="visitExhibitTextRoute()"
                   [ngClass]="{'tabPointer': true, 'tabActive': visibleTab !== 'text', 'tabInactive': visibleTab === 'text'}">{{getExhibitTextLabel()}}</label>
            <label *ngIf="!getExhibitTextRoute()" (click)="visibleTab = 'text'"
                   [ngClass]="{'tabPointer': true, 'tabActive': visibleTab !== 'text', 'tabInactive': visibleTab === 'text'}">{{getExhibitTextLabel()}}</label>
        </div>
        <!-- The equivalent structure when no work text tabs, to ensure the position and layout matches between exhibits that do and don't have a description -->
        <div *ngIf="showNoWorkText()"><label>&nbsp;</label></div>
    </div>
    <label class="currentWorkOfLabel">{{getCurrentWorkOfLabel()}}</label>
    <div [ngStyle]="{'clear': 'both'}"></div>
  </div>
  <!-- Work : Text views -->
  <!-- Work -->
  <div class="exhibit" [style.display]="visibleTab === 'work' ? 'block' : 'none'">
    <div *ngIf="isGalleryExhibit()">
        <ngx-gallery #NgxGalleryComponent
                     [options]="galleryOptions"
                     [images]="galleryImages"
                     (imagesReady)="handleImagesReady()"
                     (previewChange)="handleImagePreviewChange($event)"
                     (previewClose)="handleImagePreviewClose()"
                     (previewOpen)="handleImagePreviewOpen()"></ngx-gallery>
        <img *ngIf="prefetchImageSource" src="{{prefetchImageSource}}" style="display:none"/>
    </div>
    <div *ngIf="!isGalleryExhibit()">
        <prose-gallery #ProseGalleryComponent
                       [exhibitSummary]="exhibitSummary"></prose-gallery>
    </div>
  </div>
  <!-- Text -->
  <div class="exhibitDescriptionContainer" [style.display]="visibleTab === 'text' ? 'block' : 'none'">
    <markdown *ngIf="!!getExhibitDescription() && !getExhibitDescriptionUrl()"
              ngPreserveWhitespaces>
      {{getExhibitDescription()}}
    </markdown>
    <markdown *ngIf="!getExhibitDescription() && !!getExhibitDescriptionUrl()"
              [src]="getExhibitDescriptionUrl()"
              ngPreserveWhitespaces>
      {{getExhibitDescription()}}
    </markdown>
  </div>
</div>
