<a name="{{this.getExhibitAnchor()}}"></a>
<div [ngClass]="{'exhibitContainer': true, 'firstExhibit': this.exhibitIndex === 0}">
  <h2 class="exhibitTitle">{{this.getExhibitName()}}</h2>
  <!-- Work : Text : Special tabs -->
  <div>
    <div class="exhibitTabs">
        <div *ngIf="this.showWorkTextSpecial()">
            <label (click)="this.visibleTab = 'work'"
                    [ngClass]="{'tabPointer': true, 'tabActive': this.visibleTab !== 'work', 'tabInactive': this.visibleTab === 'work'}"><small>Work</small></label>
            &nbsp;<label class="tabSpacer"><small>:</small></label>&nbsp;
            <label (click)="this.visibleTab = 'text'"
                    [ngClass]="{'tabPointer': true, 'tabActive': this.visibleTab !== 'text', 'tabInactive': this.visibleTab === 'text'}"><small>Text</small></label>
            &nbsp;<label class="tabSpacer"><small>:</small></label>&nbsp;
            <label (click)="this.visibleTab = 'special'"
                    [ngClass]="{'tabPointer': true, 'tabActive': this.visibleTab !== 'special', 'tabInactive': this.visibleTab === 'special'}"><small>{{this.getExhibitSpecialTabName()}}</small></label>
        </div>
        <div *ngIf="this.showWorkText()">
            <label (click)="this.visibleTab = 'work'"
                    [ngClass]="{'tabPointer': true, 'tabActive': this.visibleTab !== 'work', 'tabInactive': this.visibleTab === 'work'}"><small>Work</small></label>
            &nbsp;<label class="tabSpacer"><small>:</small></label>&nbsp;
            <label (click)="this.visibleTab = 'text'"
                    [ngClass]="{'tabPointer': true, 'tabActive': this.visibleTab !== 'text', 'tabInactive': this.visibleTab === 'text'}"><small>Text</small></label>
        </div>
        <!-- The equivalent structure when no work text tabs, to ensure the position and layout matches between exhibits that do and don't have a description -->
        <div *ngIf="this.showNoWorkText()"><label>&nbsp;</label></div>
    </div>
    <label class="currentWorkOfLabel"><small>{{this.getCurrentWorkOfLabel()}}</small></label>
    <div [ngStyle]="{'clear': 'both'}"></div>
  </div>
  <!-- Work : Text : Special views -->
  <!-- Work -->
  <div [style.display]="this.visibleTab === 'work' ? 'block' : 'none'">
    <div *ngIf="this.isGalleryExhibit()">
      <ngx-gallery #NgxGalleryComponent
                   [options]="this.galleryOptions"
                   [images]="this.galleryImages"></ngx-gallery>
    </div>
    <div *ngIf="!this.isGalleryExhibit()">
      <prose-gallery #ProseGalleryComponent
                     [exhibitSummary]="this.exhibitSummary"></prose-gallery>
    </div>
  </div>
  <!-- Text -->
  <div class="exhibitDescriptionContainer" [style.display]="this.visibleTab === 'text' ? 'block' : 'none'">
    <markdown *ngIf="!!this.getExhibitDescription() && !this.getExhibitDescriptionUrl()"
              ngPreserveWhitespaces>
      {{this.getExhibitDescription()}}
    </markdown>
    <markdown *ngIf="!this.getExhibitDescription() && !!this.getExhibitDescriptionUrl()"
              [src]="this.getExhibitDescriptionUrl()"
              ngPreserveWhitespaces>
      {{this.getExhibitDescription()}}
    </markdown>
  </div>
  <!-- Special -->
  <div *ngIf="this.getExhibitSpecialComponentName() === 'leets.component'" class="exhibitDescriptionContainer noScrollContainer" [style.display]="this.visibleTab === 'special' ? 'block' : 'none'">
      <leet-game></leet-game>
  </div>
</div>
