.leetAction {
    border: 1px solid #247D3C;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    width: 200px;
}

.leetActions {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    text-align: center;
    white-space: nowrap;
}

.leetCartoon { }

.leetContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start
}

.leetController {
    flex: 1 auto;
    margin-right: 10px;
    width: 150px;
}

.leetFormOptionBlock {
    display: block;
    font-size: smaller;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100%);
}

.leetFormOption {
    cursor: pointer;
}

.leetFormOptionSelected {
    background-color: #247D3C;
    color: whitesmoke;
}

.leetImage {
    max-height: 400px;
    width: auto;
}

.leetsContainer {
    border: solid thin;
    display: block;
    height: 225px;
    overflow: hidden scroll;
    overflow-y: scroll;
    text-align: left;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

@media only screen and (max-width: 800px) {
    .leetAction {
        margin-bottom: 3px;
        margin-top: 3px;
        padding: 3px;
        width: 150px;
    }

    .leetsContainer {
        height: 150px;
    }

    .leetImage {
        max-height: 300px;
        width: auto;
    }
}

@media only screen and (max-width: 400px) {
    .leetAction {
        margin-bottom: 1px;
        margin-top: 1px;    
        padding: 1px;
        width: 100%;
    }

    .leetActions {
        padding-top: 5px;
    }

    .leetsContainer {
        height: 50px;
    }

    .leetController {
        width: 30px;
    }

    .leetImage {
        max-height: 125px;
        width: auto;
    }
}
