.instructionsContainer {
    display: block;
    height: 350px;
    padding-right: 5px;
    text-align: left;
    overflow: hidden scroll;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.leet {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 75%; /* Compare to the layout of About and the exhibits container below 800 */
}

/* Create Cartoon, Order Leet, and Capture Code button links and the button link group */
.leetAction {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
}

.leetActions {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    text-align: center;
    white-space: nowrap;
}

.leetCartoon {
    margin-bottom: 10px; /* So that when top-to-bottom there's a margin between the leet image and controller */
}

/* Groups the controller and cartoon */
.leetContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.leetController {
    flex: 1 auto;
    margin-right: 10px; /* So that when side-by-side there's a margin between the controller and the leet image */
    width: 150px;
}

.leetFormOptionBlock {
    display: block;
    font-size: smaller;
    overflow: hidden;
    padding: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100%);
}

.leetFormOption {
    cursor: pointer;
}

.leetFormOptionSelected {
    background-color: #247D3C;
    color: whitesmoke;
}

.leetImage {
    max-height: 500px;
    width: auto;
}

/* The list of leet codes */
.leetsContainer {
    border: solid thin;
    display: block;
    height: 225px;
    overflow: hidden scroll;
    overflow-y: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

@media only screen and (max-width: 800px) {
    .instructionsContainer {
        font-size: smaller;
    }

    .leetsContainer {
        height: 150px;
    }
}

@media only screen and (max-width: 700px) {
    .leetController {
        margin-right: 0px;
        width: 150px;
    }
}

@media only screen and (max-width: 550px) {
    .leetImage {
        max-height: 450px;
        width: auto;
    }
}

@media only screen and (max-width: 450px) {
    .leetImage {
        max-height: 350px;
        width: auto;
    }
}

@media only screen and (max-width: 400px) {
    .instructionsContainer {
        font-size: x-small;
    }

    .leetsContainer {
        height: 100px;
        width: 100%;
    }
}

@media only screen and (max-width: 350px) {
    .leetAction {
        font-size: smaller;
    }

    .leetCodes {
        font-size: smaller;
    }

    .leetFormOptionBlock {
        font-size: x-small;
    }

    .leetImage {
        max-height: 250px;
        width: auto;
    }
}

@media only screen and (max-width: 250px) {
    .leetImage {
        max-height: 200px;
        width: auto;
    }
}
