<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- See post-build event in project configuration and build/assets in angular.json -->
  <system.webServer>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
        <add value="default.htm" />
        <add value="default.asp" />
        <add value="index.htm" />
        <add value="default.aspx" />
        <add value="index.php" />
        <add value="index.asp" />
        <add value="_holding.htm" />
      </files>
    </defaultDocument>
    <staticContent>
      <!-- Along with cache-control configuration (below), encourages static content caching for 1 day -->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
      <remove fileExtension=".ico" />
      <remove fileExtension=".xml" />
      <mimeMap fileExtension=".md" mimeType="text/markdown" />
      <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
      <mimeMap fileExtension=".xml" mimeType="application/xml" />
    </staticContent>
    <rewrite>
      <rules>
        <clear />
        <rule name="Redirect to https" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Serve sitemap.xml" stopProcessing="true">
          <match url="sitemap.xml" />
          <action type="Rewrite" url="sitemap.xml" />
        </rule>
        <rule name="Main Rule" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto" />
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="public" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>