<header>
  <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" role="navigation">
    <div class="container">
      <!-- H1, for SEO -->
      <h1 class="nav-link nav-bar-text" style="font-size:18px; margin:0px !important; padding:0px !important"><a class="nav-link navbar-text" [routerLink]="['/']">{{ this.getApplicationName() }}</a></h1>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link navbar-text" [routerLink]="['/']" (click)="toggle()">Selected Works</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link navbar-text" [routerLink]="['/leets']" (click)="toggle()">Leet</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link navbar-text" [routerLink]="['/about']" (click)="toggle()">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
