.about {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.aboutContainer {
    margin-bottom: 50px;
}

.aboutParagraph {
    padding-top: 20px;
}

.aboutPhoto { }

.aboutQuote {
    font-style: italic;
}

.aboutSectionTitle {
    font-size: 26px;
}

.aboutSite {
    font-size: 14px;
    text-align: justify;
}

@media only screen and (max-width: 800px) {
    .aboutPhoto {
        max-width: 90%;
    }
}
