<div class="about">
    <a name="me"></a>
    <div class="aboutContainer">
        <div class="aboutSectionTitle">Me</div>
        <div class="aboutParagraph">
            <div class="aboutQuote aboutSite">Some painters, including myself, do not care what chair they are sitting on. It does not even have to be a comfortable one. They are too nervous to find out where they ought to sit. They do not want to "sit in style". Rather, they have found that painting &mdash; any kind of painting, any style of painting &mdash; to be painting at all, in fact &mdash; is a way of living today, a style of living, so to speak... It is exactly in its uselessness that it is free.</div>
            <div class="aboutSite">&mdash; Willem de Kooning</div>
        </div>
        <div class="aboutParagraph">Tactility and touch; quietude, slowness, particularity, recall, and the totality of things; tonality and atonality; permanence and impermanence; the general and specific &mdash; all qualities that I feel define a moral basis for aesthetic and political value.</div>
        <div class="aboutParagraph">This value manifests in the capacity for appreciation and the need to perceive &mdash; that is, <em>to be</em>, through expressions of that fact. My work is intentionally small and a project for a lifetime.</div>
        <div class="aboutParagraph">
            <img src="/assets/images/about/GutierezPortrait.jpg" alt="Gutierez Family Portrait" width="300" /><br />
            <sub><sup>Copyright © Albert Gutierez</sup></sub>
        </div>
        <div class="aboutParagraph">
            Thoughts or opinions, feel free to contact me: <a href="mailto:charleshenryjacobus@gmail.com">charleshenryjacobus@gmail.com</a>
        </div>
    </div>
    <a name="site"></a>
    <div class-="aboutContainer">
        <div class="aboutSectionTitle">Site</div>
        <div class="aboutParagraph">Deliberately low-fi, I built this site to feature a rotating selection of my work. So check back occasionally, or follow me on <a href="https://www.instagram.com/charleshenryjacobus/" target="_blank">Instagram</a>.</div>
        <div class="aboutParagraph">The site uses these frameworks and libraries.</div>
        <ul>
            <li><a href="https://github.com/dotnet/core/" target="_blank">.NET Core 3.1</a></li>
            <li><a href="https://angular.io/" target="_blank">Angular 10</a></li>
            <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap 4.3</a></li>
            <li><a href="https://www.npmjs.com/package/ngx-gallery-9/" target="_blank">ngx-gallery</a></li>
            <li><a href="https://www.npmjs.com/package/ngx-markdown/" target="_blank">ngx-markdown</a></li>
        </ul>
        <div class="aboutParagraph">Hosting is provided by <a href="https://www.webwiz.net/" target="_blank">Web Wiz</a> solar powered hosting.</div>
        <div class="aboutParagraph">Thanks for visiting.</div>
    </div>
    <footer>
        <copyright [aboutLinkActive]="false"></copyright>
    </footer>
</div>
