<div class="about">
    <a name="me"></a>
    <div class="aboutContainer">
        <h2 class="aboutSectionTitle">Me</h2>
        <div class="aboutParagraph">I've spent my life as a painter privately circling ideas and feelings about the nature of perception. These ideas have centered specifically on the sense of touch and how modes of perception based on tactility and haptics have influenced visual form throughout history.</div>
        <div class="aboutParagraph">For a master's degree from the School of the Visual Arts in New York City, my thesis explored these ideas through a "handrail project". The theoretical work and historical research formed the foundation of the handrail structure, which provided a basis (or subject) for the paintings that were the handrail itself. This was an opportunity for deep reflection on the nature of visual expression ranging from Egyptian tomb paintings to Cubism to the art of children. Out of this came some paintings &mdash; mostly gone now &mdash; and the development of a painting practice that I continue today.</div>
        <div class="aboutParagraph">While still filtered through this persistent lens, my more recent work takes memory as its subject. I tend to work in series, and the most recent work is part of a lifetime series called <a href="/exhibits#death">A Death in the Family</a>. With each painting measuring 8 feet by 5 inches, the physical form of this work is totemic, simultaneously small in size (domestic) and large in scale. Each of the paintings is an attempt to capture some specific memory, as realized - the memory feeling more than the mental image.</div>
        <div class="aboutParagraph" *ngIf="photoIsAvailable()">
            <img src="{{getPhotoImageSource()}}" title="{{getPhotoImageTitle()}}" class="aboutPhoto" width="{{getPhotoImageWidth()}}" /><br />
            <sub><sup><span [innerHtml]="getPhotoCaptionHtml()"></span></sup></sub>
        </div>
        <div class="aboutParagraph">
            For more goodness, visit my brother Frank's site at <a href="https://www.frankjacobus.com" target="_blank">frankjacobus.com</a>
        </div>
        <div class="aboutParagraph">
            Thoughts or opinions, feel free to contact me at <a href="mailto:charleshenryjacobus@gmail.com">charleshenryjacobus@gmail.com</a> or <a href="https://www.linkedin.com/in/charles-jacobus" target="_blank">LinkedIn</a>
        </div>
    </div>
    <a name="site"></a>
    <div class-="aboutContainer">
        <h2 class="aboutSectionTitle">Site</h2>
        <div class="aboutParagraph">Minimalist in principle, I built this site to feature a rotating selection of my work. So check back occasionally, or follow me on <a href="https://www.instagram.com/charleshenryjacobus/" target="_blank">Instagram</a> (where I'm mostly out to lunch).</div>
        <div class="aboutParagraph">The site uses these frameworks and libraries.</div>
        <ul>
            <li><a href="https://github.com/dotnet/core/" target="_blank">.NET 6</a></li>
            <li><a href="https://angular.io/" target="_blank">Angular 15</a></li>
            <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap 5.2</a></li>
            <li><a href="https://www.npmjs.com/package/angular-split" target="_blank">angular-split</a></li>
            <li><a href="https://www.npmjs.com/package/ngx-gallery-9/" target="_blank">ngx-gallery</a></li>
            <li><a href="https://www.npmjs.com/package/ngx-markdown/" target="_blank">ngx-markdown</a></li>
            <li><a href="https://www.npmjs.com/package/tree-ngx" target="_blank">tree-ngx</a></li>
        </ul>
        <div class="aboutParagraph">Hosting is provided by <a href="https://www.webwiz.net/" target="_blank">Web Wiz</a> solar powered hosting.</div>
        <div class="aboutParagraph">Thanks for visiting.</div>
    </div>
</div>
<footer>
    <copyright [aboutLinkActive]="false"></copyright>
</footer>
